.header {
  background-image: linear-gradient(0deg,#333,#ccc)
}


:root {
  --text-color: violet;
  --moka: teal;
  --iroha: green;
  --minju: orange;
  --yunah: pink;
}

body {
  margin: 0;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;

}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  background-color: orange;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

h1 {
  padding: 100px 0;
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.menu__icon {
  font-size: 1.6rem;
}

.input:checked ~ .overlay {
  display: block;
}

.input:checked ~ .nav__mobile {
  display: block;
  transform: translate(0);
}

/* .input:checked ~  {
  display: block;
} */

.nav__mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  max-width: 100%;
  background-color: white;
  transform: translate(-100%);
  transition: 0.1s;
}

.x__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
}

th{
  color: var(--text-color);
}

#moka {
  color: var(--moka);
}

#iroha {
  color: var(--iroha);
}

#minju {
  color: var(--minju);
}

#yunah {
  color: var(--yunah);
}

.nav {
  min-height: 42px;
  background-color: rgb(252, 82, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  margin: auto 16px;
}

.nav-item {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
}

.form-container {
  max-width: 720px;
  padding: 32px;
  margin: 36px auto 0 auto;
  background-color: #979797;
}

.form__row {
  padding: 8px 0;
  display: flex;
}

.form__label {
  min-width: 90px;
}

.form__input {
  flex: 1;
}

.column-layout {
  padding: 5px 16px;
  margin: 10px 0;
  display: flex;
  background-color: antiquewhite;
}

.sidebar-one {
  padding: 20px;
  flex: 1;
  text-align: start;
}

.sidebar-two {
  padding: 20px;
  flex: 1;
  text-align: end;
}

.main-column {
  flex: 3;
  text-align: center;
  font-size: 1.5rem;
}

.feature-layout {
  background-color: blueviolet;
  margin: 36px 0;
  display: flex;
  justify-content: space-evenly;
}

.feature-item {
  padding: 12px 16px;
  margin: 16px 0;
  flex-basis: 30%;
}

.feature-item:nth-child(1){
  background-color: brown;
}

.feature-item:nth-child(2){
  background-color: darkgreen;
}

.feature-item:nth-child(3){
  background-color: coral;
}

.feature-h2-item {
  text-align: center;
  padding-bottom: 10px;
}

.wrap-layout {
  margin: 20px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrap-layout__item {
  width: 150px;
  height: 100px;
  background-color: rgb(237, 90, 71);
  font-size: 2rem;
  color: white;
  text-align: center;
  line-height: 100px;  
  font-weight: 700;
}

.center-layout {
  background-color: burlywood;
  max-width: 700px;
  height: 300px;
  display: flex;
  margin: 36px auto 36px auto;
}

.center-layout__item {
  margin: auto;
}

.chart-layout {
  margin: 36px auto;
  height: 320px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.chart-layout__item {
  width: 70px;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  height: var(--percent);
  background-color: red;
  animation: growth ease-in 0.5s;
}

@keyframes growth {
  from{
    opacity: 1;
    height: calc(var(--percent) - 100%);
  }
  to{
    opacity: 1;
    height: var(--percent);
  }
}

.BEM {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 30px 48px;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.btntest {
  display: flex;
  margin: 50px;
  justify-content: center;
}

.btn:hover {
  opacity: 0.8;
  font-weight: 800;
}

.btn--success {
  background-color: #71be34;
}

.btn--warning {
  background-color: #ffb702;
}

.btn--danger {
  background-color: #ff623d;
}


.toast {
  margin: 50px;
  max-width: 300px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
}



.toast__icon {
  font-size: 24px;
}

.toast__icon, .toast__close {
  padding: 0 16px;
}

.toast__body {

}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toast--success{
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--warning{
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error{
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.box1 {
  background-color: green;
}


.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

